@import "tailwindcss";

/* force a clean dark theme by default */
:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html,
body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
}
